<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/tailwind.css">
    <title>Notas</title>
  </head>
  <body>
    
    <div class="list-tasks">
    <ul class="list-disc">

    <% for(let i=0; i<tareas.length; i++) { %>
      <li class="title">
        Titulo:  <%= JSON.stringify(tareas[i].titulo) %>
      </li>
      <li class="note">
        Nota:  <%= JSON.stringify(tareas[i].notas) %>
      </li>
      <li class="date">
        Fecha: <%= JSON.stringify(tareas[i].fecha) %>
      </li>
      <button class="btn-delete-task">Eliminar</button>
      <% } %>
    </ul>
  </div>
  </body>
</html>
